<ion-header class="bar-positive">
    <ion-navbar color="secondary" >
        <ion-title>Productos</ion-title>   
        <ion-buttons end>
            <ion-toggle checked="false" [(ngModel)]="sampleBookView"></ion-toggle>
        </ion-buttons>     
    </ion-navbar>
    <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Buscar productos" [formControl]="term"></ion-searchbar>
    </ion-toolbar>    
</ion-header>

<ion-content class="card-background-page" > 
    <ion-list *ngIf="!sampleBookView">
        <ion-item *ngFor="let product of products" >
            <ion-avatar item-left (click)="viewImage(product)">
                <ion-thumbnail>
                    <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1">
                </ion-thumbnail>
            </ion-avatar>
            <div (click)="viewDetails(product)">
                <h2>{{product.name}}</h2>
                <h3>{{getProductPrice(product)}}</h3>
                <p>{{getProductLocation(product)}}</p>
            </div>
        </ion-item>
    </ion-list>
    <ion-fab bottom right *ngIf="!sampleBookView">
        <button ion-fab (click)="createProduct()"><ion-icon name="add" color="light"></ion-icon></button>        
    </ion-fab>

    <div *ngIf="sampleBookView" >
        <ion-card *ngFor="let product of products" (click)="viewImage(product)">
            <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1"/>
            <div class="card-title">{{product.name}}</div>
            <div class="card-subtitle">{{getProductPrice(product)}}</div>
        </ion-card>        
    </div>       

    <ion-infinite-scroll (ionInfinite)="pullNextPage($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas productos..">
        </ion-infinite-scroll-content>                  
    </ion-infinite-scroll>
</ion-content>