<ion-header>
    <ion-navbar color="secondary">        
        <ion-title>Nuevo Producto</ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="save()">
                <ion-icon name="checkmark-circle" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>      
    </ion-navbar>    
</ion-header>

<ion-content>
    <div>{{error}}</div>
    <div class="image-container">
        <img class="image-product" [src]="imageUrl" *ngIf="imageUrl"/>
        <img class="image-product" *ngIf="!imageUrl" src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1">
        <ion-fab class="camera-button">
            <button (click)="takePicture()" ion-fab><ion-icon name="camera" color="light"></ion-icon></button>        
        </ion-fab>
    </div>
   
    <ion-segment [(ngModel)]="properties">
        <ion-segment-button value="general">
            General
        </ion-segment-button>
        <ion-segment-button value="prices">
            Precios
        </ion-segment-button>
        <ion-segment-button value="locations">
            Ubicaciones
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="properties">
        <ion-list *ngSwitchCase="'general'">
            <br/>
            <ion-item>
                <ion-label>Cagetoria</ion-label>
                <ion-select [(ngModel)]="newProduct.category" interface="action-sheet">
                    <ion-option *ngFor="let category of categories" [value]="category">{{category}}</ion-option>
                    <!--<ion-option value="Libreria">Libreria</ion-option>
                    <ion-option value="Mementos">Mementos</ion-option>
                    <ion-option value="Matrimonios">Matrimonios</ion-option>
                    <ion-option value="Promociones">Promociones</ion-option>
                    <ion-option value="Bauitizos">Bauitizos</ion-option>     -->               
                </ion-select>               
            </ion-item>
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="newProduct.name"></ion-input>
            </ion-item> 
            <div *ngIf="newProduct.category === 'Invitaciones'">
                <br/>
                <ion-item>
                    <ion-label>Tipo</ion-label>
                    <ion-select [(ngModel)]="newProduct.properties.type" (ionChange)="updatePropertiesOptions()" interface="action-sheet">
                        <ion-option *ngFor="let type of invitationTypes" [value]="type">{{type}}</ion-option>          
                    </ion-select>               
                </ion-item>
                <br/>
                <ion-item>
                    <ion-label>Tamaño</ion-label>
                    <ion-select [(ngModel)]="newProduct.properties.size" interface="action-sheet">
                        <ion-option *ngFor="let size of invitationSizes" [value]="size">{{size}}</ion-option>          
                    </ion-select>               
                </ion-item>
                <br/>
                <ion-item>
                    <ion-label>Genero</ion-label>
                    <ion-select [(ngModel)]="newProduct.properties.genre" interface="action-sheet">
                        <ion-option *ngFor="let genre of invitationGenres" [value]="genre">{{genre}}</ion-option>          
                    </ion-select>               
                </ion-item>
            </div>      
            <br/>
            <ion-item>
                <ion-label>Proveedor</ion-label>
                <ion-select [(ngModel)]="newProduct.provider" interface="action-sheet">
                    <ion-option *ngFor="let provider of productProviders" [value]="provider">{{provider}}</ion-option>          
                </ion-select>               
            </ion-item>                   
            <ion-item>
                <ion-label floating>Cantidad en deposito</ion-label>
                <ion-input type="text" [(ngModel)]="newProduct.quantity"></ion-input>
            </ion-item>             
            <br/>            
            <ion-list-header>Etiquetas</ion-list-header>
            <ion-item *ngFor="let tag of newProduct.tags">
                {{tag}}
                <ion-icon item-right name="trash" color="secondary" (click)="removeTag(tag)"></ion-icon>
            </ion-item> 
            
            <ion-row>
                <ion-col text-center>
                    <button ion-button (click)="addTag()">
                        Agregar etiqueta
                    </button>
                </ion-col>
            </ion-row>                   
        </ion-list>       
        <ion-list *ngSwitchCase="'prices'">                          
            <ion-item *ngFor="let price of newProduct.prices">
                <ion-label floating>{{price.type}} [Bs]</ion-label>
                <ion-input type="number" [(ngModel)]="price.value"></ion-input>
            </ion-item>               
        </ion-list>
        <ion-list *ngSwitchCase="'locations'">
            <ion-item *ngFor="let location of newProduct.locations">
                <ion-label floating>{{location.type}}</ion-label>
                <ion-input type="text" [(ngModel)]="location.value"></ion-input>
            </ion-item>           
        </ion-list>
    </div>
</ion-content>