<ion-header>
    <ion-navbar color="secondary">        
        <ion-title>Editar {{product.name}}</ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="save()">
                <ion-icon name="checkmark-circle" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>      
    </ion-navbar>    
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1"/>
            </ion-avatar>
            <h2>{{product.name}}</h2>
            <p>{{product.category}}</p>
        </ion-item>
    </ion-list>
    
    <ion-segment [(ngModel)]="properties">
        <ion-segment-button value="general">
            General
        </ion-segment-button>
        <ion-segment-button value="prices">
            Precios
        </ion-segment-button>
        <ion-segment-button value="locations">
            Ubicaciones
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="properties">
        <ion-list *ngSwitchCase="'general'">
            <ion-item>
                <ion-label floating>Cagetoria</ion-label>
                <ion-select [(ngModel)]="product.category" interface="action-sheet">
                    <ion-option value="Libreria">Libreria</ion-option>
                    <ion-option value="Mementos">Mementos</ion-option>
                    <ion-option value="Matrimonios">Matrimonios</ion-option>
                    <ion-option value="Promociones">Promociones</ion-option>
                    <ion-option value="Bauitizos">Bauitizos</ion-option>                    
                </ion-select>               
            </ion-item>
            <ion-item>
                <ion-label floating>Nombre</ion-label>
                <ion-input type="text" [(ngModel)]="product.name"></ion-input>
            </ion-item>                 
            <ion-item>
                <ion-label floating>Cantidad en deposito</ion-label>
                <ion-input type="text" [(ngModel)]="product.quantity"></ion-input>
            </ion-item> 

            <br/>
            <ion-list-header>Etiquetas</ion-list-header>
            <ion-item *ngFor="let tag of product.tags">
                {{tag}}
                <ion-icon item-right name="trash" color="secondary" (click)="removeTag(tag)"></ion-icon>                
            </ion-item> 
            
            <ion-row>
                <ion-col text-center>
                    <button ion-button (click)="addTag()">
                        Agregar etiqueta
                    </button>
                </ion-col>
            </ion-row>         
        </ion-list>
        <ion-list *ngSwitchCase="'prices'">
            <ion-item *ngFor="let price of product.prices">
                <ion-label floating>{{price.type}} [Bs]</ion-label>
                <ion-input type="number" [(ngModel)]="price.value"></ion-input>
            </ion-item>                 
        </ion-list>
        <ion-list *ngSwitchCase="'locations'">
            <ion-item *ngFor="let location of product.locations">
                <ion-label floating>{{location.type}}</ion-label>
                <ion-input type="text" [(ngModel)]="location.value"></ion-input>
            </ion-item>            
        </ion-list>
    </div>
</ion-content>