<ion-header>
    <ion-navbar color="secondary">        
        <ion-title>Detalles</ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="delete()">
                <ion-icon name="trash" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="royal" (click)="edit()">
                <ion-icon name="create" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>      
    </ion-navbar>
    
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img src="http://www.nice.com/PublishingImages/Career%20images/J---HR_Page-4st-strip-green-hair%20(2).png?RenditionID=-1"/>
            </ion-avatar>
            <h2>{{product.name}}</h2>
            <p>{{product.category}}</p>
        </ion-item>
        <ion-item *ngIf="product.quantity">
            {{product.quantity}} Unidades en el deposito.            
        </ion-item>

        <ion-list-header *ngIf="showPrices">Precios</ion-list-header>
        <div *ngFor="let price of product.prices">
            <ion-item *ngIf="price.value">
                {{price.value}} Bs.
                <ion-note item-right>
                    {{price.type}}
                </ion-note>
            </ion-item>             
        </div>    

        <ion-list-header *ngIf="showLocations">Ubicaciones</ion-list-header>            
        <div *ngFor="let location of product.locations">
            <ion-item *ngIf="location.value">
                {{location.value}}
                <ion-note item-right>
                    {{location.type}}
                </ion-note>
            </ion-item>                      
        </div>

        <ion-list-header *ngIf="showTags">Etiquetas</ion-list-header>
        <ion-item *ngFor="let tag of product.tags">
            {{tag}}
        </ion-item>
    </ion-list>
</ion-content>