<ion-header>
    <ion-navbar color="secondary">        
        <ion-title>Detalles</ion-title>
        <ion-buttons end>
            <button ion-button color="royal" (click)="delete()">
                <ion-icon name="trash" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="royal" (click)="reduceQuantity()">
                <ion-icon name="basket" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button color="royal" (click)="edit()">
                <ion-icon name="create" style="font-size: 35px;"></ion-icon>
            </button>
        </ion-buttons>      
    </ion-navbar>
    
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-avatar item-left>
                <img [src]="getProductImage()" onError="this.src='images/imgServerError.gif'"/>
            </ion-avatar>
            <h2>{{product.name}}</h2>
            <p>{{product.properties ? product.properties.type || product.category : product.category}}</p>
        </ion-item>
        <ion-item *ngIf="product.quantity">
            {{product.quantity}} Unidades en el deposito.            
        </ion-item>
        <ion-item *ngIf="product.provider">
            {{product.provider}}      
            <ion-note item-right>
                Proveedor
            </ion-note>      
        </ion-item>
        <ion-item *ngIf="product.properties && product.properties.size">
            {{product.properties.size}}
            <ion-note item-right>
                Tamaño
            </ion-note>              
        </ion-item>
        <ion-item *ngIf="product.properties && product.properties.genre">
            {{product.properties.genre}}
            <ion-note item-right>
                Genero
            </ion-note>              
        </ion-item>

        <ion-list-header *ngIf="showPrices">Precios</ion-list-header>
        <div *ngFor="let price of product.prices | orderby : 'value'">
            <ion-item *ngIf="price.value">
                {{price.value}} Bs.
                <ion-note item-right>
                    {{price.type}}
                </ion-note>
            </ion-item>             
        </div>    

        <ion-list-header *ngIf="showLocations">Ubicaciones</ion-list-header>            
        <div *ngFor="let location of product.locations | orderby : 'type'">
            <ion-item *ngIf="location.value">
                {{location.value}}
                <ion-note item-right>
                    {{location.type}}
                </ion-note>
            </ion-item>                      
        </div>

        <ion-list-header *ngIf="showTags">Etiquetas</ion-list-header>
        <ion-item *ngFor="let tag of product.tags">
            {{tag}}
        </ion-item>
    </ion-list>
</ion-content>